
#page-curriculum #container{
    width: 100vw;
    height: 100vh;
    
    
}

#page-curriculum main{
   background: var(--color-box-bsar);
   width: 100%;
   max-width: 74rem;
   border-radius: 0.8rem;
   margin: -3.2rem audo 3.2rem;
   padding-top: 6.4rem; 
}


